#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;

  &.active{
    width: 100%;
  }
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}


.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  top: 0;
  left: 0;
  position: fixed;
  background: $color-sb;
  color: #fff;
  transition: all 0.3s;
  width: 250px;
  height: 100vh;

  &.active{
    margin-left: -250px;
  }

  .sidebar-header {
    padding: 20px;
    background: $color-sb-dark;
  }

  ul {
    p {
      color: #fff;
      padding: 10px;
    }

    li {
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;

        &:hover {
          color: $color-sb;
          background: #fff;
        }
      }
      &.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: $color-sb-dark;
      }
    }
    ul {
      a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background-color: $color-sb-dark;
      }
    }
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;

    &.active {
      width: calc(100% - 250px);
    }
  }
  #sidebarCollapse span {
    display: none;
  }
}

