
// Body
//$body-bg: #f5f8fa;

// Admin sidebar
$color-sb: #7386D5;
$color-sb-dark: #6d7fcc;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
